<!-- Alerts -->
<div class="row" ng-show="flashMessage != undefined">
  <div class="col-lg-12">
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" ng-click="dismissAlert()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
      {{flashMessage}}
    </div>
  </div>
</div>
<!-- /.row -->

<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Etiquetas
    <small class="smaller text-right">Mostrando {{filterlabels.length}} de {{labels.length}}</small>
    </h1>
  </div>
</div>
<!-- /.row -->

<!-- Labels -->
<div class="row labelrow" ng-repeat="label in filterlabels = ( labels | orderBy:model_id | filter: searchLabel)">
  <form name="{{label.model}}">
    <div class="col-md-3">
      <img class="img-responsive labeltemplate" ng-src="{{dbURL + label.template}}" alt="{{label.template}}" align="middle">
    </div>
    <div class="col-md-4">
      <img class="img-responsive barcode" ng-src="http://barcode.tec-it.com/barcode.ashx?code=Code128&modulewidth=fit&data=SAYA-{{label.model_id}}{{labelsDB.counter | leadingZero:8 }}&dpi=96&imagetype=gif&rotation=0&color=&bgcolor=&fontcolor=&quiet=0&qunit=mm">
      <br/>
      <div class="form-horizontal" role="form">
        <div class="form-group">
          <label for="labeldate" class="col-md-2 control-label">Fecha</label>
          <div class="col-md-10">
            <input type="date" ng-model="label.made_date" class="form-control" name="labeldate">  
          </div>
        </div>
        <div class="form-group">
          <label for="labelquantity" class="col-md-2 control-label">Cantidad</label>
          <div class="col-md-10">
            <input class="form-control" type="number" name="labelquantity" ng-model="label.quantity" >
          </div>
        </div>
        
<!-- 
        <span class="error" ng-show="{{label.model}}.labeldate.$error.required">Fecha requerida!</span>
        <span class="error" ng-show="{{label.model}}.labeldate.$error.date">No es una fecha valida!</span> 
        <span class="error" ng-show="{{label.model}}.labelmodelid.$error.required">Numero requerido!</span>
        <span class="error" ng-show="{{label.model}}.labelmodelid.$error.pattern">No es un numero de 3 digitos!</span>
 -->        
      </div>
    </div>   
    <div class="col-md-5">
      <h3>{{label.name}}</h3>
      <h4>{{label.model}}</h4>
      <p>{{label.description}}</p>
      <a class="btn btn-primary" href="#/labels/print/{{label.model}}">Generar <span class="glyphicon glyphicon-chevron-right"></span></a>
      <a class="btn btn-info" href="#" ng-show="viewCRUD">Modificar <span class="glyphicon glyphicon-chevron-right"></span></a>
      <a class="btn btn-danger" href="#" ng-show="viewCRUD">Eliminar <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </form>
</div>
<!-- /.row